# Base de données MySQL
MYSQL_ROOT_PASSWORD=change_me_in_production
MYSQL_DATABASE=pharmacydb
MYSQL_USER=change_me
MYSQL_PASSWORD=change_me

# Sécurité JWT
JWT_SECRET=change_me_with_a_long_random_string_at_least_256_bits
JWT_EXPIRATION=1200000

# Admin par défaut
APP_ADMIN_USERNAME=admin
APP_ADMIN_EMAIL=admin@example.com
APP_ADMIN_PASSWORD=change_me